i{
    margin:0.5%;
}
#ey{
    font-size:110%;
}
#back{
    font-size:3vh
}
#sign{
    font-style: oblique;
}
#log{
    font-style: oblique;
}

input[type="text"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type="email"]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type="password"]{ 
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.navl{
    align-items: center;
}