.cont .container{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    column-gap: 8%;
    row-gap: 4%;
    width:40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.grid-item{
    width:100%;
    margin: auto;
    align-content: center;
}
.grid-item:hover{
    cursor: pointer;

}